@import "vars";
@import "_mixins/rem";


/*==========  Desktop First  ==========*/

//XL ≥1200px
@include media-breakpoint-down(xl) {

}

@media (max-width: 1919px){
	.header__soc{
		&.fixed{
			right: 0 !important;
			width: 112px !important;
		}
	}
}

@media (max-width: 1367px){
	.header__soc{
		width: 95px;
	}
}

@media (max-width: 1365px){
	.header__soc{
		&.fixed{
			position: absolute;
			top: auto;
			bottom: 0;
		    right: 0;
		    transform: translate(0,0);
		    &:before{
				display: block;
			}
		}
	}
}

//LG ≥992px
@include media-breakpoint-down(lg) {
	
	/*****FOOTER LG*****/
	.menu__bottom {
		padding: 22px 15px 0;
	}
	.footer__soc{
		.header__socItem{
			transform: scale(.6);
			margin: 0 -5px 0 0;
		}
	}
	.subscribe__title{
		font-size: 31px;
	}
	.copyright{
		&WrapWrap{

		}
		&Wrap{

		}
		&__phone{
			padding: 0 15px;
			text-align: center;
		}
	}

	/*****NEWS INSIDE PAGE LG*****/
	h1, .h1{
		font-size: 48px;
	}

	/*****CONTACT PAGE LG*****/
	.filialBlock__phones{
		padding-left: 15px;
	}

	/*****CATALOG PAGE LG*****/
	.header__soc-container{
		width: 170px;
	}

	/*****ARTICUL PAGE LG*****/
	.favoirites__icon{
		text-align: center;
	}
	.favourite__link{
		text-align: center;
	}

}

//MD ≥768px
@include media-breakpoint-down(md) {

	/*****HEADER MAIN MD*****/
	#container-narrow{
		padding: 0 0 48px;
	}
	.header__soc{
		&Item{
			&:last-child{
				margin: 0;
			}
		}
	}
	.slider__header-main{
		img{
			//height: 329px;
			object-fit: cover;
		}
	}
	.searchForm{
		input{
			font-size: 11px;
		}
	}
	.banners-main{
		padding: 30px 25px 0 40px;
		&__item{
			padding: 0 5px;
		}
	}

	/*****LATEST MAIN MD*****/
	.category{
		&Item{
			&__companion{
				display: none;
			}
		}
	}

	/*****STYLE SLIDER MD*****/
	#slyderStyle{
		margin: 24px 0 0;
	}
	.main_collect{
		 .main-styles__wrap{
		 	text-align: left;
		 }
		.main-styles__list{
			flex-direction: column;
			margin: 12px 0 0;
		}
		.main-styles__image{
			background-position: 0 50% !important;
		}
		.main-styles__title{
			font-size: 16px;
			width: 92px;
			width: auto;
			padding: 8px 16px;
			display: inline-block;
			text-align: center;
		}
		.main-styles__item{
			height: 150px;
			min-width: 100%;
			width: 100% !important;
			display: block;
			&:hover{
				min-width: 100% !important;
				height: 390px;
			}
		}
	}

	/*****FOOTER MD*****/
	.menu__bottom{
		padding: 22px 15px 0;
		&Wrap{
			padding: 19px 0;
		}
		ul{
			flex-wrap: wrap;
			li{
				flex: 0 0 31%;
				max-width: 31%;
				margin: 0 4px 13px 0;
				a{
					font-size: 18px;
					text-transform: uppercase;
					margin: 0;
				}
			}
		}
	}
	.footer__soc{
		padding: 11px 11px 0;
		height: auto !important;
		.header__socItem{
			transform: scale(.69);
    		margin: 0 18px 0 0;
		}
	}
	.subscribe{
		&Wrap{
			margin: 19px -15px 0;
		}
		&__title{
			flex: 0 0 100%;
	    	max-width: 100%;
	    	padding: 12px 15px 0;
	    	text-align: center;
		}
		&__intro{
			text-align: center;
			margin: 9px 0 0;
		}
		&__formWrap{
			flex: 0 0 100%;
	    	max-width: 100%;
	    	padding: 12px 15px 0;
		}
	}
	.copyright{
		&WrapWrap{
			margin: 14px 0 0;
			padding: 26px 0 33px;
		}
	}

	/*****NEWS INSIDE PAGE MD*****/
	h1, .h1{
		font-size: 36px;
	}
	.slider__header-main{
		.sliderBig{
			img{
				height: 400px;
			}
		}
	}
	.header__soc{
		height: 400px;
	}

	/*****NEWS PAGE MD*****/
	.newsItem{
		height: 230px;
		margin: 0 0 20px;
		&:nth-child(2n){
			min-height: 294px;
		}
		&:nth-child(2n-1){
			min-height: 294px;
			margin-top: -65px;
		}
		&:nth-child(4n){
			min-height: 230px;
		}
		&:nth-child(4n+1),
		&:first-child{
			min-height: 230px;
			margin-top: 0;
		}
	}
	.news__title{
		font-size: 18px;
		&Wrap{
			padding: 15px;
		}
	}
	.news__moreWrap{
		font-size: 14px;
		margin-top: 15px;
	}
	.news__date{
		padding: 0 15px;
	}
	.news__img{
		padding: 15px;
	}

	/*****CONTACT PAGE MD*****/
	.contactFormWrap{
		margin-top: 30px;
	}
	.contact__intro{
		margin: 10px 0 0;
		font-size: 20px;
	}

	/*****CATALOG PAGE MD*****/
	.header__soc-container {
	    width: 190px;
	}
	.filterSort__select{
		padding: 0 0 0 12px;
	}
	.filterSort__select .jq-selectbox__dropdown ul li{
		margin: 0 12px 0 0;
	}
	.filterBlock__title{
		padding: 0 15px;
	}
	.filterBlock__filters{
		padding: 7px 15px;
	}
	.filterBlock__title{
		font-size: 16px;
	}
	.collectionSelect{
		font-size: 11px;
	}

	/*****COLLECTION PAGE MD*****/
	.sliderMotiveWrap .sliderBig,
	.sliderRecommendWrap .sliderBig {
	    font-size: 16px;
	}
	.sliderRecommendWrap .sliderBig img{
		height: 280px;
	}
	.slider__collection{
		.sliderBig img{
			height: 320px;
		}
	}

	/*****ARTICUL PAGE MD*****/
	.leftSB-companion{
		flex: 0 0 100% !important;
	    max-width: 100% !important;
	}
	.companion-narrow{
		flex: 0 0 100% !important;
	    max-width: 100% !important;
	    .container-narrowWrap{
	    	padding: 0 15px;
	    }
	}
	.companionWrap{
		width: 100%;
	}
	.companionItem{
		text-align: center;
		&__img{
			img{
				width: 60%;
				height: 284px;
				object-fit: cover;
			}
		}
	}



}
 
//SM ≥576px
@include media-breakpoint-down(sm) {

	/*****BURGER SM*****/
	.navbar-toggle {
		display: block;
	}
	.navbar-toggle[aria-expanded=true] {
		.sandwich{
			margin: 6px 0 0 5px;
			width: 18px;
		}
		.icon-bar{
			margin: 0 0 -3px;
			&:nth-child(1){
				width: 100%;
				transform: rotate(-45deg);
			}
			&:nth-child(2){
				width: 100%;
				transform: rotate(45deg);
			}
			&:nth-child(3){
				//display: none;
				visibility: hidden;
			}
		}
	}

	.navbar-collapse{
		padding: 0 15px;
		position: absolute;
		top: 135px;
		left: 0;
		width: 100%;
		max-width: 100%;
	    left: 50%;
	    transform: translate(-50%,0);
		background: #4d4d4c;
		text-align: center;
		z-index: 1;
	}
	.navbar-nav{
		margin: 24px 0 21px;
	}
	.collapse:not(.show) {
	    display: none;
	}

	/*****HEADER MAIN SM*****/
	#leftSB{
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#container-narrow{
		flex: 0 0 100%;
		max-width: 100%;
		&__Wrap{
			margin: 0 -15px;
		}
		&:before{
			display: none;
		}
	}
	.langWrap{
		padding: 0 15px 0 22px;
		&-desc{
			display: none;
		}
		&-mob{
			display: block;
		}
		.lang{
			font-size: 16px;
			margin: 0 7px 0 0;
		}
	}
	.logo{
		flex: 0 0 75%;
    	max-width: 75%;
    	padding: 12px 15px 0 0;
	}
	.mainMenu{
		margin: 28px 0 0;
		flex: 0 0 25%;
    	max-width: 25%;
    	.navbar{
    		display: flex;
    		justify-content: flex-end;
    	}
    	ul{
    		margin: 17px 0 0;
    		padding: 20px 0 15px;
    		box-shadow: inset 0 0 50px 0px rgba(53, 53, 53, 0.75);
    		li{
    			a{
    				font-size: 18px;
    				padding: 5px 18px;
    				margin: 0 0 10px;
    				i{
    					font-size: 16px;
    				}
    			}
    		}
    	}
	}
	.searchForm{
		flex: 0 0 100%;
    	max-width: 100%;
    	margin: 19px 0 0;
		.svgInput{
			width: 100%;
			max-width: 100%;
		}
		input{
			font-size: 14px;
		}
	}
	.slider__header-main{
		margin: 7px 0 0 !important;
		&Wrap{
			margin: 0 15px;
		}
		img{
			//height: 362px;
		}
	}
	.header__soc{
		flex-direction: row;
		width: 100%;
		top: auto;
		bottom: 0px;
		width: 100%;
		height: 57px;
		&Item{
			margin: 0 23px 0 0;
			transform: scale(0.65);
		}
		&:before{
			background-repeat: repeat;
		}
		&-mobMenu{
			height: 60px;
			display: flex;
		}
	}
	.banners-main{
		width: 100%;
		padding: 30px 0px 0;
		margin: 0;
		&__item{
			padding: 0 15px;
		}
	}

	/*****LATEST MAIN SM*****/
	#latest {
		margin: 26px 0 0;
	}
	.category{
		margin: 13px -8px 0;
		&Wrap{
			padding: 0 15px;
		}
		&Item{
			padding: 0 8px;
			margin: 0 0 15px;
			&__title{
				font-size: 14px;
				padding: 5px 0 0;
				&-desc{
					display: none;
				}
				&-mob{
					display: block;
				}
			}
		}
	}
	#recommend {
		margin: 24px 0 0;
	}

	/*****STYLE SLIDER SM*****/
	.main_collect{
		.main-styles__item{
			height: 125px;
			&:hover{
				height: 325px;
			}
		}
	}

	/*****FOOTER SM*****/
	.copyright{
		&Wrap{
			text-align: center;
		}
		&__phone{
			margin: 16px 0 0;
		}
		&__mail{
			margin: 17px 0 0;
			text-align: center;
		}
	}

	/*****NEWS INSIDE PAGE SM*****/
	.header{
		&__inside{
			position: relative;
			z-index: 20;
			padding: 0 0 20px;
			box-shadow: 0 10px 20px 0 rgba(53,53,53,.75);
		}
		&Wrap{
			padding: 12px 0 0;
			margin: 0;
			.logo{
				padding: 0;
			}
			.mainMenu{
				margin: 16px 0 0;
				display: block;
				.navbar{
					//justify-content: flex-start;
					padding: 0 1px 0 11px;
				}
				.navbar-collapse{
					top: 80px;
				}
			}
			.searchForm{
				display: block;
			}
		}
	}
	#contentWrap{
		margin: -9px 0 0;
	}
	.title{
		h1, .h1{
			font-size: 36px;
			text-align: center;
			line-height: 1.2;
			letter-spacing: 1.3px;
		}
	}
	.breadcrumbs{
		text-align: center;
		padding: 0 0 0 5px;
		&-mob{
			display: block;
			margin: -24px 0 0;
		}
		&-desc{
			display: none;
		}
		&__sep{
			padding: 0 6px 0 12px;
		}
		ul{
			li{
				font-size: 14px;
				line-height: 1.7;
			}
		}
	}
	.newsInside{
		&__date{
			font-size: 16px;
			margin: 19px 0 0;
			text-align: center;
		}
	}
	.sliderWrap{
		margin: 18px 0 0;
	}
	.sliderBig{
		&__arrowWrapWrap{
			display: none;
		}
		&__dotsWrap{
			transform: scale(0.64);
			margin: 26px 0 0;
		}
		img{
			height: 290px;
			object-position: 75% 50%;
		}
	}
	.sliderSmall{
		&Wrap{
			transform: translate(-47%,0) scale(0.74);
			bottom: 14px;
		}
	}
	.content{
		font-size: 14px;
		&__newsInside {
		    margin: 12px 0 0;
		}
		p{
			margin: 0 0 27px;
		}
	}
	.button__news{
		margin: 28px 0 0;
		a{
			font-size: 18px;
			padding: 13px 10px;
			i{
				margin: 0 12px 0 -10px;
    			font-size: 17px;
			}
		}
	}
	.slider__header-main{
		.sliderSmall,
		.sliderBig__dotsWrap{
			display: none;
		}
	}
	.slider__header-main{
		.sliderBig{
			img{
				height: 358px;
				object-position: 50% 50%;
			}
		}
	}

	/*****NEWS PAGE SM*****/
	.news{
		&Wrap{
			margin-top: 16px;
		}
	}
	.newsItem{
		height: 222px;
		min-height: 222px !important;
		margin: 0 0 22px !important;
	}
	.news__title{
		font-size: 16px;
		&Wrap{
			padding: 24px 13px 18px;
			&:before{
				top: 20px;
			}
		}
	}
	.news__moreWrap{
		margin-top: 12px;
	}
	.news__date{
		font-size: 12px;
	}
	.news__img{
		padding: 10px;
	}
	.newsPage{
		.breadcrumbs-mob{
			margin: -19px 0 0;
			padding: 0 0 0 12px;
		}
	}
	.button-news{
		margin: 8px 0 0;
		a{
			font-size: 18px;
			width: 290px;
			min-height: 50px;
		}
	}
	.pagination{
		margin: 15px 0 -15px;
		ul{
			li{
				margin: 0 17px 15px 0;
				&:last-child{
					margin: 0;
				}
			}
		}
	}

	/*****CATALOG PAGE SM*****/
	.header__soc-container {
	    display: none;
	}
	#slider__catalog{
		margin: 0;
		.sliderBig__dotsWrap{
			margin: 0;
		}
	}
	.sliderBigItem__title{
		font-size: 12px;
		line-height: 1.25;
		&Wrap{
			width: 100%;
			padding: 10px 0 16px;
		}
		span{
			font-size: 36px;
		}
	}
	.slider__catalog .sliderBig img{
		height: 164px;
	}
	.button-slider{
		margin: 5px 0 0;
		a{
			font-size: 16px;
			width: 127px;
			min-height: 41px;
		}
	}
	.searchFormWrap{
		&-desc{
			display: none;
		}
		&-mob{
			display: block;
		}
	}
	.catalogPage{
		.searchForm{
			margin: 24px 0 -22px;
		}
		.breadcrumbs-mob{
			margin: -19px 0 0;
			padding: 0 15px;
			width: 100%;
		}
	}
	.catalog__sort{
		margin: 26px 0 0;
		padding: 0 15px 0 5px;
		width: 100%;
	}
	.leftSB-catalog{
		margin: 5px 0 0;
	}
	.catalogBreadcrumbs__container{
		display: block;
		margin: 8px auto 0;
		position: relative;
		z-index: 2;
	}
	.filterSort{
		font-size: 14px;
		&__title{
			display: none;
		}
		&Wrap{
			width: 100%;
		}
	}
	.filterSort__select{
		padding: 0;
		width: 100%;
		.jq-selectbox__select{
			display: flex;
			border: 1px solid #FFF;
			padding: 6px 13px;
		}
		.jq-selectbox__select-text{
			display: block;
			width: 100%;
		}
		.jq-selectbox__dropdown{
			position: absolute;
			top: 33px !important;
			width: 100%;
		    padding: 10px 0;
		    background: #3c3c3c;
		    border-top: 1px solid #6f6f6f;
		    min-height: 100px;
			ul{
				li{
					display: block !important;
					padding: 4px 13px;
				}
			}
		}
	}
	.categoryWrap .button-news {
		margin: 34px 0 0;
	}
	#filterBlock__wrap{
		display: none;
		width: 320px;
		max-width: 100%;
		padding: 0 0px 20px;
		background: #4d4d4c;
	}
	.filterBlock{
		padding: 21px 0 16px;
		margin: 0 15px 19px;
	}
	.filterBlock__name{
		font-family: "PT Sans Bold", sans-serif;
		font-size: 24px;
		text-transform: uppercase;
		box-shadow: 0 2px 25px 0 rgba(0,0,0,.4);
		padding: 17px 15px 15px;
		margin: 0 0 28px;
		letter-spacing: 1px;
	}
	.collectionSelect{
		&-desc{
			display: none;
		}
		&-mob{
			display: block;
		}
		.jq-selectbox__dropdown{
			top: 32px;
			border: 1px solid #6f6f6f;
		}
	}
	.catalog__filterLink{
		margin: 26px 0 0;
		padding: 0 5px 0 15px;
		.button{
			a{
				font-size: 14px;
				min-height: 32px;
				padding: 6px 10px;
				text-align: left;
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				i{
					font-size: 16px;
				}
			}
		}
	}
	.collectionSelect {
	    font-size: 14px;
	    margin: 0 0 20px;
	    padding: 0 15px;
	}

	/*****COLLECTION PAGE SM*****/
	.slider__collection{
		margin: -27px -15px 0 !important;
		.sliderBig img {
		    height: 288px;
		}
	}
	.titleWrap{
		&-desc{
			display: none;
		}
		&-mob{
			display: block;
			margin: -13px 0 0;
		}
	}
	.container-narrowWrap{
		padding: 0 15px;
	}
	.content__collection{
		font-size: 12px;
		&Wrap{
			margin-top: 22px;
		}
		p{
			margin: 0 0 24px;
		}
	}
	.collection__char{
		text-align: center;
		padding: 26px 15px 15px 15px;
		&Block{
			font-size: 16px;
			margin: 0 0 9px;
		}
		&Title{
			font-size: 14px;
		}
		&Intro{
			i{
				margin: 10px 3px 0 0;
			}
		}
	}
	.sliderMotiveWrap{
		margin: 0 -8px;
		&__title{
			margin: 49px 0 15px;
		}
		.sliderBigItem {
		    padding: 0 8px;
		}
	}
	.sliderMotiveWrap{
		&__title{
			margin-left: 8px;
		}
		.sliderBig{
			font-size: 14px;
			img{
				height: 139px;
			}
		}
		.sliderItem__title{
			margin: 8px 0 0;
		}
		.sliderBig__dotsWrap{
			margin: 12px 0 0;
		}
	}
	.sliderFonWrap{
		.sliderMotiveWrap__title {
		    margin-top: 19px;
		}
	}
	.sliderRecommendWrap{
		margin: 0 -8px;
		.sliderMotiveWrap__title {
		    margin-top: 8px;
		}
		.sliderBigItem {
		    padding: 0 8px;
		}
		.sliderBig{
			margin: 0;
			font-size: 14px;
			img{
				height: 161px;
			}
			.sliderItem__title{
				margin: 4px 0 0;
			}
		}
		.sliderBig__dotsWrap{
			margin: 12px 0 0;
		}
	}
	.sliderBig__dotsWrap{
		min-width: 320px;
	}
	.sliderLastWrap{
		.sliderMotiveWrap__title{
			margin-top: 20px;
		}
	}

	/*****ARTICUL PAGE SM*****/
	.leftSB-companion{
		padding-right: 0 !important;
	}
	.container-companion__Wrap {
	    margin-top: 20px!important;
	}
	.companionWrap{
		margin: 0 -7px;
	}
	.companionItem{
		padding: 0 7px;
		text-align: left;
		&__img{
			img{
				width: 100%;
				height: 284px;
			}
		}
		&__title{
			font-size: 14px;
		}
	}
	.favoirites__icon{
		margin: 18px 0 0;
	}
	.articulSearch__wrap{
		padding: 12px 15px 0;
		margin: 0;
	}
	.articulPage{
		.breadcrumbs{
			margin: 25px 0 0;
			padding: 0 15px;
		}
		.sliderMotiveWrap .sliderItem__title {
		    font-size: 14px;
		    margin: 5px 0 0;
		}
		.sliderMainWrap {
		    margin: 26px 0 0!important;
		}
		.sliderMainWrap .sliderBig img{
			height: 290px;
		}
		.sliderMainWrap .sliderBig__dotsWrap{
			display: block;
			margin: 0;
		}
	}
	.compArt{
		&Wrap{
			display: block;
			font-size: 16px;
		}
		&Block{
			margin-top: 17px;
			padding: 14px 0 2px;
			&__wrap{
				margin: 30px 0 0;
				padding: 12px 18px;
			}
			&__item{
				border: none;
				padding: 0 10px;
			}
		}
		&__articul{
			margin: 0 0 11px;
		}
	}
	.compArtBlock__itemLast{
		&-desc{
			display: none;
		}
		&-mob{
			display: block;
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
			.compArtBlock__itemTitleWrap{
				flex: 0 0 50%;
   				max-width: 50%;
   				padding: 0 10px;
   				margin: 0;
			}
		}
	}



}

//XS ≥0
@include media-breakpoint-down(xs) {

	/*****HEADER MAIN XS*****/
	.slider__header-main{
		&Wrap{
			margin: 0;
		}
	}
	.navbar-collapse{
		padding: 0;
	}

	/*****STYLE SLIDER XS*****/
	.main_collect{
		.main-styles__item{
			height: 112px;
			&:hover{
				height: 292px;
			}
		}
	}

	/*****NEWS INSIDE PAGE XS*****/
	.sliderWrap{
		margin: 18px -15px 0;
	}

	/*****CONTACT PAGE XS*****/
	.filialBlock__phones{
		margin: 19px 0 0;
	}
	.filialBlock:last-child{
		padding-bottom: 19px;
	}
	.contactForm{
		margin-top: 14px;
		&Wrap {
			margin-top: 42px;
		}
		&__block {
			padding: 18px 23px 20px;
		}
		&__inputMessage{
			margin-top: 15px;
		}
		&__button{
			&Wrap{
				margin: 0;
			}
			input{
				font-size: 18px;
				width: 100%;
				min-height: 49px;
			}
		}
		&__personal{
			margin: 6px 0 0;
			padding: 0 20px;
			text-align: center;
		}
	}

	/*****COLLECTION PAGE XS*****/
	/*****ARTICUL PAGE XS*****/


}

@media (max-width: 479px){

	/*****HEADER MAIN < 480*****/
	.banners-main{
		&__item{
			flex: 0 0 100%;
		    max-width: 100%;
		    margin: 0 0 15px;
		    a{
		    	min-height: 69px;
		    }
		    img{
		    	padding: 10px 28px;
		    }
		}
	}

	/*****STYLE SLIDER < 480 *****/
	.main_collect{
		.main-styles__count{
			margin: 0 4px;
		}
		.main-styles__item{
			height: 100px;
			&:hover{
				height: 250px;
			}
		}
	}

	/*****FOOTER < 480*****/
	.menu__bottom{
		ul{
			li{
				flex: 0 0 48%;
   				max-width: 48%;
   				margin: 0 0 13px;
			}
		}
	}
	.subscribe{
		&__title{
			font-size: 21px;
			letter-spacing: -0.1px;
		}
		&__intro{
			font-size: 12px;
		}
		&__but{
			span{
				display: none;
			}
			i{
				display: block;
			}
		}
		&__form{
			&Input{
				flex: 0 0 82%;
   				max-width: 82%;
			}
			.button{
				flex: 0 0 18%;
   				max-width: 18%;
			}
		}
	}
	.footer__soc{
		justify-content: space-between;
	}

	/*****CONTACT PAGE < 480*****/
	.contact__intro{
		margin: 25px 0 0;
		font-size: 18px;
		text-align: center;
	}
	.lazy-map{
		margin: 19px -15px 0;
		width: calc(100% + 30px);
	}
	.contactBlock__title{
		margin: 0 0 13px;
	}

	/*****COLLECTION PAGE < 480*****/
	/*****ARTICUL PAGE < 480*****/


}

@media (max-width: 359px){
	
}


/*==========  Mobile First  ==========*/

//XS ≤0
@include media-breakpoint-up(xs) {

}

//SM ≤576px
@include media-breakpoint-up(sm) {

}

//MD ≤768px
@include media-breakpoint-up(md) {

}

//LG ≤992px
@include media-breakpoint-up(lg) {

}

//XL ≤1200px
@include media-breakpoint-up(xl) {
	
}
